.pantalla-user {
    agm-map {
        height: 600px;
    }
    #map {
        height: 500px;
        width: 100%;
    }
    #solicitud-serv {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        .btn-solicitud {}
    }
}