@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
a {
    font-family: 'Raleway', ;
    text-decoration: none;
}

p {
    font-family: 'Raleway', ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', ;
}

span {
    font-family: 'Raleway', ;
}