.contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .taxistas {
        margin: 5%;
    }
    .taxis {
        margin: 5%;
    }
    .panel-body {
        height: 400px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 5px;
            /* Tamaño del scroll en vertical */
            //height: 8px;
            /* Tamaño del scroll en horizontal */
            //display: none;
            /* Ocultar scroll */
        }
        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: #999999;
        }
        tr {
            cursor: pointer;
        }
    }
}


/*.table-fixed {
    width: 100%;
    background-color: #f3f3f3;
    tbody {
        height: 200px;
        overflow-y: auto;
        width: 100%;
    }
    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }
    tbody {
        td {
            float: left;
        }
    }
    thead {
        tr {
            th {
                float: left;
                background-color: #f39c12;
                border-color: #e67e22;
            }
        }
    }
}*/

.scrollable {
    height: 400px;
    overflow: hidden;
}

thead {
    table-layout: fixed;
}

tbody {
    height: 400px;
    overflow-y: scroll;
}